<!--About Section-->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">about us</div>
                        <h2>Experts Team</h2>
                        <div class="lower-text">There are no problems that cannot be solved.<br/> This is our belief,
                            our mission, our spirit. </div>
                    </div>
                    <div class="text">
                        With extensive experience in tackling the intricate attribution problem, digital forensics, exploit analysis, reverse engineering, and code deobfuscation, our team is skilled at handling various cybersecurity issues. From targeted attacks to insider threats, we've got you covered.
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="image-box">
                        <figure class="wow rollIn"><img src="/assets/images/resource/featured-image-13.png"
                                alt=""></figure>
                        <div class="info-text wow fadeInLeft" data-wow-delay="1000ms">
                            <div class="count">20<span>+</span></div>
                            Years Of Experience
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
