<!--About Section-->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">about us</div>
                        <h2>Add An Expert<br>To Your Team</h2>
                        <div class="lower-text">There are no problems that cannot be solved.<br/> This is our belief,
                            our mission, our spirit. </div>
                    </div>
                    <div class="text">
                        Our team brings decades of profound expertise in cybersecurity, delving into the complexities of targeted attack investigations and advanced malware research. We have rich experience in tackling the intricate attribution problem, providing comprehensive digital forensics services, and conducting in-depth exploit analysis. Our skills extend to reverse engineering and deobfuscation, shedding light on the most elusive cyber threats. Be it an insider attack, a web security problem, or sudden anomalous network traffic - this is our field. Our journey through the evolving cyber landscape equips us to confront and mitigate a diverse range of sophisticated cyber challenges.
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="image-box">
                        <figure class="wow rollIn"><img src="/assets/images/resource/featured-image-13.png"
                                alt=""></figure>
                        <div class="info-text wow fadeInLeft" data-wow-delay="1000ms">
                            <div class="count">20<span>+</span></div>
                            Years Of Experience
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
