<!--Contact Section-->
<section class="info-section">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="image-layer" style="background-image: url(/assets/images/background/image-5.jpg);"></div>
    <div class="faded-text style-two light"><div class="f-text"><span>contact</span></div></div>
    <div class="auto-container">
        <div class="sec-title-three light centered">
            <div class="sub-title">contact</div>
            <h2>get in touch</h2>
        </div>
        <div class="info">
            <div class="row clearfix">
                <!--Info Block-->
                <div class="info-box col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner hvr-bob">
                        <div class="icon-box"><span class="flaticon-call"></span></div>
                        <h4>phone number</h4>
                        <ul>
                            <li><a href="tel:+14158517882">+1 415 8517882</a></li>
                        </ul>
                    </div>
                </div>
                <!--Info Block-->
                <div class="info-box col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner hvr-bob">
                        <div class="icon-box"><span class="flaticon-envelope"></span></div>
                        <h4>email address</h4>
                        <ul>
                            <li><a href="mailto:info@titanhex.com">info@titanhex.com</a></li>
                            <li><a href="mailto:example@mail.co">quote@titanhex.com</a></li>
                        </ul>
                    </div>
                </div>
                <!--Info Block-->
                <div class="info-box col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner hvr-bob">
                        <div class="icon-box"><span class="flaticon-worldwide-1"></span></div>
                        <h4>Web resources</h4>
                        <ul>
                            <li><a href="https://www.titanhex.com/">https://www.titanhex.com</a></li>
                            <li><a href="https://github.com/titan-hex">https://github.com/titan-hex</a></li>
                        </ul>
                    </div>
                </div>
                <!--Info Block-->
                <div class="info-box col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner hvr-bob">
                        <div class="icon-box"><span class="flaticon-placeholder-3"></span></div>
                        <h4>office address</h4>
                        <ul>
                            <li>Central Business District, Singapore</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
