<!--Featured Section-->
<section class="featured-section-three">
    <div class="map-layer">
        <div class="bg-layer"></div>
        <div class="map-content">
            <div class="location-point loc-one wow bounceInUp" data-wow-delay="0ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/sharpmind.png" alt=""></div>
                    <h5>Eastern Europe</h5>
                    <div class="info">Engineering talent</div>
                </div>
            </div>
            <div class="location-point loc-two wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/diligence.png" alt=""></div>
                    <h5>Japan</h5>
                    <div class="info">Diligence and persistence</div>
                </div>
            </div>
            <div class="location-point loc-three wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/compliance.png" alt=""></div>
                    <h5>SouthEast Asia</h5>
                    <div class="info">Compliance and transparency</div>
                </div>
            </div>
            <div class="location-point loc-four wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.4</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-five wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.5</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-container">
        <div class="content-box">
            <div class="row clearfix">
                <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow slideInUp">
                    <div class="inner-box">
                        <div class="content">
                            <div class="count"><span>01</span></div>
                            <div class="icon-box"><span class="flaticon-star"></span></div>
                            <h4>We do magic</h4>
                            <div class="text">We work our cybersecurity magic, going all in to solve any challenge.
                                </div>
                        </div>
                        <figure class="image"><a href="#"><img src="/assets/images/resource/featured-image-12.jpg"
                                    alt=""></a></figure>
                    </div>
                </div>
                <div class="feature-block-three alternate col-lg-6 col-md-6 col-sm-12 wow slideInDown">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/assets/images/resource/featured-image-13.jpg" alt=""></a></figure>
                        <div class="content">
                            <div class="count"><span>02</span></div>
                            <div class="icon-box"><span class="flaticon-worldwide"></span></div>
                            <h4>Cultural diversity</h4>
                            <div class="text">At our work we make use of the best qualities from diverse cultures of the world.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
