<!-- Main Header -->
<header class="main-header header-style-four">
    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container clearfix">
            <div class="inner clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo">
                        <a href="{{site.url}}">
                            <img src="{{site.logo_url}}" alt="{{site.title}}" title="{{site.title}}">
                        </a>
                    </div>
                </div>
                <div class="nav-content clearfix">
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix">
                                <ul class="navigation clearfix">
                                    {% for navigation in site.data.navigation %}
                                    {% if navigation.dropdown %}
                                    <li class="dropdown">
                                        <a href="{{navigation.url}}">{{navigation.text}}</a>
                                        <ul>
                                            {% for dropdown in navigation.dropdown %}
                                             <li><a href="{{dropdown.url}}">{{dropdown.text}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li><a href="{{navigation.url}}">{{navigation.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <!--Other Links-->
                <div class="other-links clearfix">
                    <!--Search Btn-->
                    <div class="search-btn">
                        <button type="button" class="theme-btn search-toggler"><span
                        class="icon flaticon-loupe-2"></span></button>
                    </div>
                    <!--Nav Toggler-->
                    <div class="max-nav-toggler">
                        <button class="theme-btn toggle-btn"><span class="flaticon-menu-2"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="index-2.html"><img src="/assets/images/logo.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
            <!--Social Links-->
            <div class="social-links">
                <ul class="clearfix">
                    {% if site.twitter_url %}
                    <li>
                        <a href="{{site.twitter_url}}"><span class="fab fa-twitter"></span></a>
                    </li>
                    {% endif %}
                    {% if site.facebook_url %}
                    <li>
                        <a href="{{site.facebook_url}}"><span class="fab fa-facebook-square"></span></a>
                    </li>
                    {% endif %}
                    {% if site.pinterest_url %}
                    <li>
                        <a href="{{site.pinterest_url}}"><span class="fab fa-pinterest-p"></span></a>
                    </li>
                    {% endif %}
                    {% if site.instagram_url %}
                    <li>
                        <a href="{{site.instagram_url}}"><span class="fab fa-instagram"></span></a>
                    </li>
                    {% endif %}
                    {% if site.youtube_url %}
                    <li>
                        <a href="{{site.youtube_url}}"><span class="fab fa-youtube"></span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->
</header>
<!-- End Main Header -->
<!--Search Popup-->
<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="flaticon-targeting-cross"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="get" action="https://www.google.com/search">
                <div class="form-group">
                    <fieldset>                        
                        <input type="hidden" name="sitesearch" value="titanhex.com" />
                        <input type="search" class="form-control" name="q" value=""
                            placeholder="Search Here" id="search-input" required>
                        <input type="submit" value="Google search" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            <ul id="results-container"></ul>
        </div>
    </div>
</div>
{% include sidebar_nav.html %}
