<section class="portfolio-section-three fullwidth portfolio-masonry">
    <!--Masonry Galery-->
    <div class="sortable-masonry filter-gallery">
        <!--div class="filters clearfix">
            <ul class="filter-tabs filter-btns clearfix">
                <li class="filter active" data-role="button" data-filter=".all">All Works</li>
                <li class="filter" data-role="button" data-filter=".web">Web Design</li>
                <li class="filter" data-role="button" data-filter=".uxui">UX Design</li>
                <li class="filter" data-role="button" data-filter=".game">Game Design</li>
                <li class="filter" data-role="button" data-filter=".seo">SEO</li>
            </ul>                     
        </div-->

        <div class="items-container clearfix">
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/partners/sincon_lg.jpg"><img src="/assets/images/partners/sincon.png" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="https://www.infosec-city.com/">SINCON</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Cybersecurity Conference</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/partners/sincon_lg.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="https://www.infosec-city.com/"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/partners/blackhat_lg.jpg"><img src="/assets/images/partners/blackhat.png" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="https://www.blackhat.com">BlackHat</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Cybersecurity Conference</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/partners/blackhat_lg.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="https://www.blackhat.com/"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/partners/itrainsec_lg.jpg"><img src="/assets/images/partners/itrainsec.png" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="https://www.itrainsec.com/">iTrainSec</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Cybersecurity Trainings</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/partners/itrainsec_lg.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="https://www.itrainsec.com/"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/partners/threatintelligence_lg.jpg"><img src="/assets/images/partners/threatintelligence.png" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="https://www.threatintelligence.com/">ThreatIntelligence</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Enterprise Cybersecurity Automation</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/partners/threatintelligence_lg.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="https://www.threatintelligence.com/"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
