<section class="portfolio-section-three portfolio-masonry">
    <div class="auto-container">
        <div class="sec-title-four centered">
            <div class="sub-title">case study</div>
            <h2>Our Works</h2>
        </div>
        <!--Masonry Galery-->
        <div class="sortable-masonry filter-gallery">
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter=".all">All Works</li>
                    <li class="filter" data-role="button" data-filter=".web">Reverse Egineering</li>
                    <li class="filter" data-role="button" data-filter=".uxui">Digital Forensics</li>
                    <li class="filter" data-role="button" data-filter=".game">Threat Hunting</li>
                    <li class="filter" data-role="button" data-filter=".seo">Trainings</li>
                </ul>
            </div>
            <div class="items-container row clearfix">
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all game col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/19.jpg">
                                    <img src="/assets/images/gallery/19.jpg" alt="portfolio"/>
                                </a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/19.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all seo col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/20.jpg"><img
                                        src="/assets/images/gallery/20.jpg" alt=""></a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/20.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all web uxui seo col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/21.jpg"><img
                                        src="/assets/images/gallery/21.jpg" alt=""></a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/21.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all web game seo col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/24.jpg"><img
                                        src="/assets/images/gallery/24.jpg" alt=""></a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/24.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all web uxui game col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/22.jpg"><img
                                        src="/assets/images/gallery/22.jpg" alt=""></a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/22.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Item-->
                <div class="gallery-item-two masonry-item all uxui game seo col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image">
                                <a class="lightbox-image" href="/assets/images/gallery/23.jpg"><img
                                        src="/assets/images/gallery/23.jpg" alt=""></a>
                            </figure>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <div class="content">
                                        <h4><a href="#">Galactica Super Nova</a></h4>
                                        <div class="separator"><span class="dot"></span></div>
                                        <div class="category">Adventure</div>
                                    </div>
                                </div>
                                <div class="zoom-btn">
                                    <a class="lightbox-image zoom-link" href="/assets/images/gallery/23.jpg"
                                        data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                                </div>
                                <div class="link-btn">
                                    <a href="#"><span
                                            class="icon flaticon-link-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-link clearfix">
                <a href="/contact" class="theme-btn btn-style-eleven"><span class="btn-title">
                    <span class="icon flaticon-briefcase"></span>hire us</span>
                </a>
            </div>
        </div>
    </div>
</section>
