<!--Services Section-->
<section class="services-section-three">
    <div class="outer-container clearfix">
        <div class="row clearfix">
            <!--Block-->
            <div class="service-block-three col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-worldwide-1"></span></div>
                                <div class="count">01</div>
                                <h3>How</h3>
                                <div class="text">How did the attack happen?<br/>Understanding the mechanics of an attack is crucial and the first thing clients want to know. We investigate the attack, the root cause, and critical technical aspects to develop effective solutions and countermeasures.</div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/15.jpg);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/15.jpg" alt=""></figure>
                                <a href="blog-single.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-circular-clock"></span></div>
                                <div class="count">02</div>
                                <h3>When</h3>
                                <div class="text">How long has the breach been ongoing?<br/>Our retrospective analysis gathers evidence to uncover when the breach began, how it evolved, and the steps taken by the attackers, revealing the incident's full extent. This is another foundation of an investigative process.</div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/16.jpg);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/16.jpg" alt=""></figure>
                                <a href="blog-single.html" class="overlink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/17.jpg);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/17.jpg" alt=""></figure>
                                <a href="blog-single.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-targeting-cross"></span></div>
                                <div class="count">03</div>
                                <h3>Why</h3>
                                <div class="text">Why did the attack happen?<br/>Was it driven by curiosity, for financial interest, for reconnaissance purpose, or was it an aggressive disruptive attack? We help you uncover and understand the underlying reasons behind it.
				</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-three alternate col-xl-6 col-lg-12 col-md-12">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="image-layer" style="background-image: url(/assets/images/gallery/18.jpg);">
                                </div>
                                <figure class="image"><img src="/assets/images/gallery/18.jpg" alt=""></figure>
                                <a href="blog-single.html" class="overlink"></a>
                            </div>
                        </div>
                        <!--Text Column-->
                        <div class="text-col col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-user-3"></span></div>
                                <div class="count">04</div>
                                <h3>Who</h3>
                                <div class="text">Who is behind it?<br/>Identifying the attacker takes time and effort as we gather information and eliminate false leads. We give clear signs leading to attackers' identity whenever this is possible without making a false allegation. 
				</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
