<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button><span class="flaticon-letter-x"></span></button>
    </div>
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <img src="{{relative_url}}/assets/images/logo.png" alt=""/>
        </div>
        <div class="content-box">
            <h3>TitanHex Pte Ltd</h3>
            <div class="text">We are cybersecurity consulting and professional services company. Contact and task us with your challenge!</div>
            <a href="about.html" class="theme-btn btn-style-two"><div class="btn-title">About US</div></a>
        </div>
        <div class="contact-info">
            <h2>Contact Info</h2>
            <ul class="list-style-two">
                <li><span class="icon fa fa-map-marker-alt"></span>Central Business District, Singapore</li>
                <li><span class="icon fa fa-phone-alt"></span><a href="tel:+14158517882">+1 415 8517882</a></li>
                <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:info@titanhex.com">info@titanhex.com</a></li>
                <li><span class="icon fa fa-clock"></span>Week Days: 09:00 to 21:00</li>
            </ul>
        </div>
    </div>
    <!-- / Hidden Bar Wrapper -->
</section>
<!-- End / Hidden Bar -->
