<!--Testimonial Section-->
<section class="testimonial-section">
    <div class="image-layer" style="background-image: url({{relative_url}}/assets/images/background/image-1.jpg);"></div>
    <div class="auto-container">
        <div class="testimonial-carousel owl-theme owl-carousel">
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-1.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Emil Tan</h4>
                                <div class="designation">Emil Tan; Co-Founder, Division Zero (Div0), SINCON</div>
                            </div>
                            <div class="text">The team at TitanHex is made up of people we’ve worked closely with and trust deeply. They are not just skilled professionals but passionate contributors who genuinely care about growing the cybersecurity ecosystem. Their dedication to nurturing future talent, sharing expertise, and building capacity has made a lasting impact. They are always giving back, always involved, and now taking on even more for us. It’s been a pleasure working with them, and I look forward to continuing this collaboration and achieving even greater things together.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-14.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Ty Miller</h4>
                                <div class="designation">Director, Threat Intelligence Pty Ltd</div>
                            </div>
                            <div class="text">Partnering with TitanHex accelerated our cybersecurity R&D, empowering
us to deliver industry-leading solutions that safeguard our customers,
and it has been a truly rewarding collaboration.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-15.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Dasha Diaz</h4>
                                <div class="designation">Founder of iTrainSec</div>
                            </div>
                            <div class="text">The reverse engineering training delivered by TitanHex exceeded our
expectations by cutting edge topics and dedicated exercises based on ongoing APT campaigns. The latest and hottest malware samples, unique techniques abusing certain non-patched latest Windows vulnerabilities proved high value for the trainees and made it a great hands-on practical experience.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
