<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>TitanHex Cybersecurity Services</title>
        <link href="{{relative_url}}/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="{{relative_url}}/assets/css/style.css" rel="stylesheet" />
        <link href="{{relative_url}}/assets/css/responsive.css" rel="stylesheet" />
        <link rel="shortcut icon" href="{{relative_url}}/assets/images/favicon.png" type="image/x-icon" />
        <link rel="icon" href="{{relative_url}}/assets/images/favicon.png" type="image/x-icon" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="{{relative_url}}/assets/js/respond.js"></script><![endif]-->
      <script>
            function nospam(data, key) {
                data = atob(data);
                let email = "";
                for (let i = 0; i < data.length; i++) {
                  email += String.fromCharCode(data.charCodeAt(i) ^ key.charCodeAt(i % key.length));
                }
                window.location.href = `mailto:${email}`;
            }
      </script>
    </head>
    <body>
        <div class="page-wrapper">
            {% if site.preloader %}
            <!-- Preloader -->
            <div class="preloader">
                <div class="spinner">
                    <div class="inner">
                        <div class="disc"></div>
                        <div class="disc"></div>
                        <div class="disc"></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {{ content }}
        </div>
        <!--End pagewrapper-->
        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
        <script src="{{relative_url}}/assets/js/jquery.js"></script>
        <script src="{{relative_url}}/assets/js/popper.min.js"></script>
        <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
        <script src="{{relative_url}}/assets/js/jquery-ui.js"></script>
        <script src="{{relative_url}}/assets/js/jquery.fancybox.js"></script>
        <script src="{{relative_url}}/assets/js/owl.js"></script>
        <script src="{{relative_url}}/assets/js/scrollbar.js"></script>
        <script src="{{relative_url}}/assets/js/knob.js"></script>
        <script src="{{relative_url}}/assets/js/paroller.js"></script>
        <script src="{{relative_url}}/assets/js/tilt.js"></script>
        <script src="{{relative_url}}/assets/js/isotope.js"></script>   
        <script src="{{relative_url}}/assets/js/appear.js"></script>
        <script src="{{relative_url}}/assets/js/wow.js"></script>
        <script src="{{relative_url}}/assets/js/simple-jekyll-search.min.js"></script>
        <script src="{{relative_url}}/assets/js/jquery.fancybox.js"></script>
        <script src="{{relative_url}}/assets/js/element-in-view.js"></script>
        <script src="{{relative_url}}/assets/js/custom-script.js"></script>
    </body>
</html>
