---
layout: default
---

{% include header.html %}
<!-- Banner Section -->
<section class="page-banner">
    <div class="image-post-layer" style="background-image:url({{page.post_image}});"></div>
    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>{{page.title}}</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{site.url}}">Home</a></li>
                        <li class="active"><a href="{{site.url}}{% link posts.html %}">Publications</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="content-inner">
                    <div class="blog-posts">
                        <!--News Block-->
                        <div class="news-post-detail">
                            <div class="inner-box">
                                <div class="content-box">
                                    <div class="category"><a href="/category/{{page.categories[0] | slugify }}">{{page.categories[0]}}</a></div>
                                    <div class="post-wrapper">
                                        {{page.content}}
                                    </div>
                                </div>
                                <div class="lower-info clearfix">
                                    <div class="related-tags">
                                        <h5>Related Tags</h5>
                                       {{page | tags | capitalize | replace: ","," | "}}
                                    </div>
                                    <div class="share-post">
                                        <h5>Social Share</h5>
                                        <div class="social-links">
                                            <ul class="clearfix">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="https://x.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title | url_encode }}{{ " from " | append: site.company.name | url_encode }}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}{{ " from " | append: site.company.name | url_encode }}&summary={{ page.excerpt | url_encode }}"><span class="fab fa-linkedin-in"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-controls alternate">
                                <div class="inner clearfix">
                                        {% if page.previous.url %}
                                        <div class="control prev-post">
                                            <div class="subtitle">
                                                <a class="prev" href="{{page.previous.url}}">&laquo; Prev Post</a>
                                            </div>
                                            <h4>{{page.previous.title |  truncatewords: 3}}</h4>
                                            <a href="{{page.previous.url}}" class="overlink"></a>
                                        </div>
                                        {% endif %}
                                         {% if page.next.url %}
                                        <div class="control next-post">
                                            <div class="subtitle">
                                                <a class="next" href="{{page.next.url}}">Next Post &raquo;</a>
                                            </div>
                                            <h4>{{page.next.title | truncatewords: 3}}</h4>
                                            <a href="{{page.next.url}}" class="overlink"></a>
                                        </div>
                                        {% endif %}
                                        <div class="see-all"><a href="blog.html"><span class="flaticon-shape"></span></a></div>
                                    </div>
                                </div>
                                <div class="related-news">
                                    <div class="related-inner clearfix">
                                        <div class="group-title"><h4>Related Post</h4></div>
                                        <div class="row clearfix">
                                          {% for post in site.posts limit: 2 %}
                                            <div class="related-post col-md-6 col-sm-12">
                                                <div class="inner">
                                                    {% if page.post_image %}
                                                     <figure class="image">
                                                        <a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}"></a>
                                                    </figure>
                                                    {% endif %}
                                                    <div class="lower">
                                                        <div class="related-meta">
                                                            <ul class="clearfix">
                                                                <li class="author">
                                                                    <span class="icon flaticon-calendar-4"></span> 
                                                                    <a href="{{post.url}}">{{post.date | date_to_long_string}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <h5><a href="{{post.url}}">{{post.title | truncatewords: 5}}</a></h5>
                                                        <div class="text">{{post.excerpt | strip_html | truncatewords: 15}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                           {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

